<div  class="login" *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>OVIS<span>.</span>PUR <span>HIS</span></h1>
        
          <input type="text" placeholder="Username" formControlName="name">         
          <input type="password" placeholder="Password" formControlName="password">
          
          <div class="alert" *ngIf="(!rForm.controls['name'].valid && rForm.controls['name'].touched)"> 
          	{{titlealert}}
          </div>
        
        <input type="submit" class="button expanded" value="LOGIN" [disabled]="!rForm.valid">
          <div class="morestuff">
  			  <p>Forgot password?</p>
 		  </div>
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>Welcome to our HIS - {{ name }}</h1>

    </div>
  </div>
</ng-template>