@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  outline: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color:  #2d3237;
  color: #f0f5fa;
}